Options +FollowSymlinks
RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule (.*) https://www.labrys.io/$1 [R]

<IfModule mod_headers.c>
# FILES HELD FOR ONE WEEK
<FilesMatch "\.(jpg|png|swf|jpeg|gif|svg|css|js)$">
    Header set Cache-Control "max-age=604800, public"
</FilesMatch>
</IfModule>